<div class="row my-3 content justify-content-center needs-validation" style="background-color: white;">
    <div class="card col-md-6 my-3">
        <form action="" ng-submit="submitlogin($event)" id="formLogin" class="card-body" id="form_login" novalidate>
            <div>
                <h2>Đăng nhập</h2>
            </div>
            <div class="my-4">
                <label for="">
                    <h6 class="d-flex align-items-center mb-1">Tài khoản</h6>
                </label>
                <input ng-model="inputUser" id="user_input" type="text" class="form-control" required>
                <div class="invalid-feedback">Vui lòng nhập đủ thông tin</div>
            </div>
            <div class="my-4">
                <div class="d-flex justify-content-between">
                    <label for="password">
                        <h6 class="d-flex align-items-center  mb-1">Mật khẩu</h6>
                    </label>
                    <span ng-click="showHidePass()" style="cursor: pointer;" id="show_hide_Pass_dangNhap"
                        class="row align-items-center  mb-1">
                        <i id="icon" class="fa-solid fa-eye me-1 col px-0"></i>
                        <h6 id="text" class="col ps-0 m-0">Hiện</h6>
                    </span>
                </div>
                <input ng-model="inputPass" id="pass_input" type="password" class="form-control" name="password"
                    required>
                <div class="invalid-feedback">Vui lòng nhập đủ thông tin</div>
            </div>
            <div style="background-color: rgba(165, 42, 42, 0.445); border-radius: 5px;" id="warning_User_PassWord"
                class="py-2 text-center collapse"><i class="fas fa-circle-info"></i>
                Tài khoản hoặc mật khẩu không đúng
            </div>
            <div class="my-4 d-flex justify-content-center">
                <button type="submit" class="btn btn-success"
                    style="width: 70%; height: 40px; border-radius: 30px;">Đăng
                    nhập</button>
            </div>
            <div class="text-center">
                <a class="text-decoration-none" href="#!quenmatkhau">Quên mật khẩu ?</a><br>
                Bạn chưa có tài khoản ? <a class="text-decoration-none" href="#!dangky"> Đăng ký miễn phí</a>
            </div>
        </form>
    </div>
</div>