<div class="row my-3 content justify-content-center" style="background-color: white;">
    <div class="card col-md-6 my-3">
        <form name="formChangePass" id="formChangePass" action="" class="was-validated" novalidate>
            <div class="card-body">
                <div>
                    <h2>Đổi mật khẩu</h2>
                </div>
                <div class="my-4">
                    <div class="d-flex justify-content-between">
                        <label for="new_password">
                            <h6 class="d-flex align-items-center  mb-1">Mật khẩu hiện tại</h6>
                        </label>
                        <span id="show_hide_Pass1" ng-click="showHidePass1()" style="cursor: pointer;"
                            class="row align-items-center  mb-1">
                            <i id="icon1" class="fa-solid fa-eye me-1 col px-0"></i>
                            <h6 id="text1" class="col ps-0 m-0">Hiện</h6>
                        </span>
                    </div>
                    <input id="pass_input1" type="password" ng-click="warningPass=false" ng-model="oldPass"
                        class="form-control" name="new_password" required>
                    <p class="invalid-feedback">Vui lòng nhập đủ thông tin</p>
                    <p style="color: red; font-size: 15px;" ng-show="warningPass">Mật khẩu không đúng</p>

                </div>
                <div>
                    <div class="d-flex justify-content-between">
                        <label for="new_password">
                            <h6 class="d-flex align-items-center  mb-1">Mật khẩu mới</h6>
                        </label>
                        <span id="show_hide_Pass2" ng-click="showHidePass2()" style="cursor: pointer;"
                            class="row align-items-center  mb-1">
                            <i id="icon2" class="fa-solid fa-eye me-1 col px-0"></i>
                            <h6 id="text2" class="col ps-0 m-0">Hiện</h6>
                        </span>
                    </div>
                    <input id="pass_input2" ng-model="newPass" type="password" class="form-control" name="new_password"
                        required>
                    <p class="invalid-feedback">Vui lòng nhập đủ thông tin</p>
                </div>
                <div class="my-4 d-flex justify-content-center">
                    <button ng-disabled="formChangePass.$invalid" class="btn btn-success"
                        ng-click="changePassWord($event)" style="width: 70%; height: 40px; border-radius: 30px;">Đổi
                        mật khẩu</button>
                </div>
            </div>
        </form>

    </div>
</div>