<div class="row my-3 content justify-content-center" style="background-color: white;">
    <div class="card col-10 my-3">
        <div class="card-header">
            <div class="row">
                <img class="col-1 rounded-circle" src="Asm-TaiNguyen\images\avatarContact.png" alt="">
                <div class="col">
                    <h6>Trò chuyện với chúng tôi</h6>
                    <h6>We are here and ready to help you</h6>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div>
                <label for="name">
                    <h6>Fullname <span style="color: red;">*</span></h6>
                </label>
                <input class="form-control" type="text" name="name">
            </div>
            <div>
                <label for="phonenumber">
                    <h6>Phonenumber <span style="color: red;">*</span></h6>
                </label>
                <input class="form-control" type="text" name="phonenumber">
            </div>
            <div>
                <label for="question">
                    <h6>Your question <span style="color: red;">*</span></h6>
                </label>
                <textarea class="form-control" name="question" id="question" cols="30" rows="3"></textarea>
            </div>
        </div>
        <div class="card-footer text-center">
            <a class="btn bg-primary py-1" style="color: white; width: 100px;" href="#">Submit</a>
        </div>
    </div>
</div>