<div class="row my-3 content">
    <article class="col mx-3 my-3 px-0">
        <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="First slide"></li>
                <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
                <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="Asm-TaiNguyen\images\TuyenSinh.png" class="w-100 d-block" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img src="Asm-TaiNguyen\images\ungTuyen.png" class="w-100 d-block" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img src="Asm-TaiNguyen\images\bigevent.png" class="w-100 d-block" alt="Third slide">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div>
            <img src="Asm-TaiNguyen\images\cohoivieclam.png" alt="" style="width: 100%; border-radius: 5px;">
        </div>
    </article>
    <div class="nganhDaoTao my-3">
        <div class="row mb-4">
            <div class="col-lg">
                <h3>NGÀNH ĐÀO TẠO</h1>
                    <p>Với triết lý đào tạo “Thực học – Thực nghiệp”, Cao đẳng FPT Polytechnic hướng tới đào tạo
                        nguồn nhân lực chất lượng cao với phương pháp giảng dạy qua dự án thật.</p>
            </div>
            <div class="col-lg col_training">
                <img class="img-training" src="Asm-TaiNguyen\images\IT.jpg" alt="">
                <h4 class="name_training">Công nghệ thông tin</h4>
                <ul class="list_training collapse" id="copllase_IT">
                    <li>Lập trình web</li>
                    <li>Phát triển phần mềm</li>
                    <li>lập trình mobile</li>
                    <li>Xử lý dữ liệu</li>
                    <li>Ứng dụng phần mềm</li>
                </ul>
            </div>
            <div class="col-lg col_training">
                <img class="img-training" src="Asm-TaiNguyen\images\quantrikinhdoanh.png" alt="">
                <h4 class="name_training">Quản trị kinh doanh</h4>
                <ul class="list_training collapse" id="copllase_QuanTriKinhDoanh">
                    <li>Quan hệ công chúng</li>
                    <li>Digital Marketing</li>
                    <li>lập trình mobile</li>
                    <li>Xử lý dữ liệu</li>
                    <li>Ứng dụng phần mềm</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg col_training">
                <img class="img-training" src="Asm-TaiNguyen\images\tuDongHoa.png" alt="">
                <h4 class="name_training">Tự động hóa</h4>
                <ul class="list_training collapse" id="tuDongHoa">
                    <li>Quan hệ công chúng</li>
                    <li>Digital Marketing</li>
                    <li>lập trình mobile</li>
                    <li>Xử lý dữ liệu</li>
                    <li>Ứng dụng phần mềm</li>
                </ul>
            </div>
            <div class="col-lg col_training">
                <img class="img-training" src="Asm-TaiNguyen\images\nganhKhac.png" alt="">
                <h4 class="name_training">Ngành khác</h4>
                <ul class="list_training collapse" id="nganhKhac">
                    <li>Thiết kế đồ họa</li>
                    <li>Digital Marketing</li>
                    <li>lập trình mobile</li>
                </ul>
            </div>
            <div class="col-lg col_training">
                <img class="img-training" src="Asm-TaiNguyen\images\lamdep.jpg" alt="">
                <h4 class="name_training">Chăm sóc sức khỏe & Làm đẹp</h4>
                <ul class="list_training collapse" id="lamDep">
                    <li>Chăm sóc và spa</li>
                    <li>Trang điểm nghệ thuật</li>
                    <li>lập trình mobile</li>
                </ul>
            </div>
        </div>
    </div>
</div>