<div class="row my-3 content">
    <div class="col-md my-5 mx-5">
        <div class="row">
            <img style="width:200px;" src="Asm-TaiNguyen\images\logoFPT.png" alt="">
        </div>
        <div class="row mt-2">
            <div style="width: 250px;">
                <a class="btn col-2 mx-1" href="https://www.facebook.com/fpt.poly"><img
                        src="Asm-TaiNguyen\images\ico-fb-landing.png" alt=""></a>
                <a class="btn col-2 mx-1"
                    href="https://vi.wikipedia.org/wiki/Tr%C6%B0%E1%BB%9Dng_Cao_%C4%91%E1%BA%B3ng_Th%E1%BB%B1c_h%C3%A0nh_FPT"><img
                        src="Asm-TaiNguyen\images\ico-wiki-landing.png" alt=""></a>
                <a class="btn col-2 mx-1" href="https://www.youtube.com/channel/UCHXm-vzOfAuLucVBKDUfhvQ"><img
                        src="Asm-TaiNguyen\images\ico-youtube-landing.png" alt=""></a>
                <a class="btn col-2 mx-1" href="https://www.tiktok.com/@fptpolytechnic?lang=en"><img
                        src="Asm-TaiNguyen\images\icon-tiktok.png" alt=""></a>
            </div>
        </div>
        <div class="row mt-5">
            <h3>THÔNG TIN LIÊN HỆ</h3>
        </div>
        <div>
            <p>Điện thoại: (024) 7300 1955</p>
        </div>
        <div>
            <p>Email: caodang@fpt.edu.vn</p>
        </div>
    </div>
    <div class="col-md my-5 mx-5">
        <h3>HỆ THỐNG VĂN PHÒNG TUYỂN SINH</h3>
        <div class="row">
            <u>Cở sở Hà Nội</u>
            <p><i class="fa-solid fa-location-pin me-1"></i>Cổng số 1, Tòa nhà FPT Polytechnic, phố Trịnh Văn
                Bô,
                phường Phương Canh, quận Nam Từ Liêm, TP Hà
                Nội</p>
            <p><i class="fa-solid fa-phone me-1"></i>(024) 8582 0808</p>
        </div>
        <div class="row">
            <u>Cở sở Hà Nội</u>
            <p><i class="fa-solid fa-location-pin me-1"></i>Cổng số 1, Tòa nhà FPT Polytechnic, phố Trịnh Văn
                Bô,
                phường Phương Canh, quận Nam Từ Liêm, TP Hà
                Nội</p>
            <p><i class="fa-solid fa-phone me-1"></i>(024) 8582 0808</p>
        </div>
        <div class="row">
            <u>Cở sở Hà Nội</u>
            <p><i class="fa-solid fa-location-pin me-1"></i>Cổng số 1, Tòa nhà FPT Polytechnic, phố Trịnh Văn
                Bô,
                phường Phương Canh, quận Nam Từ Liêm, TP Hà
                Nội</p>
            <p><i class="fa-solid fa-phone me-1"></i>(024) 8582 0808</p>
        </div>
        <div class="row">
            <u>Cở sở Hà Nội</u>
            <p><i class="fa-solid fa-location-pin me-1"></i>Cổng số 1, Tòa nhà FPT Polytechnic, phố Trịnh Văn
                Bô,
                phường Phương Canh, quận Nam Từ Liêm, TP Hà
                Nội</p>
            <p><i class="fa-solid fa-phone me-1"></i>(024) 8582 0808</p>
        </div>
    </div>
    <div class="col-md my-5 mx-5">
        <div class="row">
            <u>Cở sở Hà Nội</u>
            <p><i class="fa-solid fa-location-pin me-1"></i>Cổng số 1, Tòa nhà FPT Polytechnic, phố Trịnh Văn
                Bô,
                phường Phương Canh, quận Nam Từ Liêm, TP Hà
                Nội</p>
            <p><i class="fa-solid fa-phone me-1"></i>(024) 8582 0808</p>
        </div>
        <div class="row">
            <u>Cở sở Hà Nội</u>
            <p><i class="fa-solid fa-location-pin me-1"></i>Cổng số 1, Tòa nhà FPT Polytechnic, phố Trịnh Văn
                Bô,
                phường Phương Canh, quận Nam Từ Liêm, TP Hà
                Nội</p>
            <p><i class="fa-solid fa-phone me-1"></i>(024) 8582 0808</p>
        </div>
        <div class="row">
            <u>Cở sở Hà Nội</u>
            <p><i class="fa-solid fa-location-pin me-1"></i>Cổng số 1, Tòa nhà FPT Polytechnic, phố Trịnh Văn
                Bô,
                phường Phương Canh, quận Nam Từ Liêm, TP Hà
                Nội</p>
            <p><i class="fa-solid fa-phone me-1"></i>(024) 8582 0808</p>
        </div>
        <div class="row">
            <u>Cở sở Hà Nội</u>
            <p><i class="fa-solid fa-location-pin me-1"></i>Cổng số 1, Tòa nhà FPT Polytechnic, phố Trịnh Văn
                Bô,
                phường Phương Canh, quận Nam Từ Liêm, TP Hà
                Nội</p>
            <p><i class="fa-solid fa-phone me-1"></i>(024) 8582 0808</p>
        </div>
    </div>
</div>